@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome Student</h1>
    <h2>ID: @ViewBag.Student.Id</h2>
    <h2>Name: @ViewBag.Student.Name</h2>
    <h2>Address: @ViewBag.Student.Address</h2>
    <h2>Email: @ViewBag.Student.Email</h2>
    <h2>Father Name: @ViewBag.Student.FatherName</h2>
</div>
